{% extends "base.html" %}

{% block content %}
<div class="container-fluid form-max-width">
    <form method="POST" class="mt-3">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            <label class="form-label fs-5">{{ field.label }}:</label>
            {{ field }}
            {% if field.help_text %}
            <div class="form-text">{{ field.help_text }}</div>
            {% endif %}
            {% for error in field.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        {% endfor %}
        <button class="btn btn-primary btn-lg mt-2" type="submit">Save</button>
    </form>
</div>
{% endblock %}
