body { 
    padding-top: 56px;
}

@media (max-width: 500px) {
    body {
        padding-top: 0;
    }
}

.link-color {
    color: #ffffff;
}

.link-color:hover {
    color: rgb(255, 255, 127);
}

.form-max-width {
    width: 90%;
    max-width: 720px;
}

.single-item-max-width {
    max-width: 1120px;
}

.width-100 {
    width: 100px;
}

@media (max-width: 767px) {
    .reduce-767 {
        max-width: 440px;
    }
}

.width-300 {
    width: 300px;
}

.bottom-errors {
    color: tomato;
}

.bottom-errors p {
    margin-top: 5px;
    margin-bottom: 0;
}

.padding-12 {
    padding: 12px;
}

.red-background {
    background-color: rgb(255, 215, 208);
    border: 1px solid rgb(255, 179, 165);
}

.bigger-checkbox {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.left-5px {
    margin-left: 5px;
}