body { 
    padding-top: 56px;
}

@media (max-width: 500px) {
    body {
        padding-top: 0;
    }
}

.link-color {
    color: rgb(0, 200, 255);
}

.link-color:hover {
    color: rgb(0, 255, 255);
}

.form-max-width {
    width: 90%;
    max-width: 720px;
}

.single-item-max-width {
    max-width: 1120px;
}

.width-100 {
    width: 100px;
}

@media (max-width: 767px) {
    .reduce-767 {
        max-width: 440px;
    }
}

.width-300 {
    width: 300px;
}

.bottom-errors {
    color: tomato;
}

.bottom-errors p {
    margin-top: 5px;
    margin-bottom: 0;
}